

form{
    position: relative;
    width: 400PX;
 
    top:105px;
    left: 220px;
    background-color: rgba(32, 0, 121, 0.192);
    border-radius: 20PX;
    padding: 5PX;
    text-align: center;
}

input{
    padding: 5px;
    border-top: none;
    background-color: rgba(19, 2, 255, 0.178);
    border-bottom: 10px red;
    border-radius: 5px;
    font-size:15px;
}

h3{
    font-size: 15px;
    padding: 3px;
}

.title{
    position: absolute;
    top: 60px;
    left: 300px;
}

.title h1{
    font-size: 40px;
}

h2{
    font-family: 'Courier New', monospace;
    font-style: italic;
    font-size: 15px;
    color: rgba(255, 0, 0, 0.555);
}

input[type=submit]{
    margin-top: 10px;
    transition: 1s;
    background-color: rgba(165, 42, 42, 0.74);
    border: none;
}

input[type=submit]:hover{
    transform: scale(1.1);
    background-color: rgba(84, 84, 250, 0.534);
}
