* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    background: url('images/login/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.navbar {
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 10px 20px;
    background: rgb(255, 255, 255); /* Blue gradient background color */
    z-index: 1000;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.loginform {
    position: relative;
    width: 400px;
    margin: 10px auto;
    
    padding: 20px;
    background: rgb(240, 240, 242); /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.loginform h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.loginbox {
    margin: 20px;
    text-align: left;
}

.loginbox input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginbox span {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.loginsubmit {
    margin-top: 20px;
}

.loginsubmit button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.loginsubmit button:hover {
    background: #258cd1;
}

.error-message {
    color: #FF0000;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
